<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>Error Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body>
    <h2>Data bioskop tidak dapat dihapus karena masih terdapat penjaga.</h2>
    <a class="btn btn-primary" th:href="@{/bioskop/view(noBioskop=${noBioskop})}">Kembali</a>
</body>

</html>