<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title> Login </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <!-- <link rel="stylesheI’m et" th:href="@{/css/bootstrap.min.css}" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFIBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script> -->
</head>

<body>
    <div class="container-fluid">
        <h2>Hello !</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        Change Password
                    </div>
                    <div class="card-body">
                        <!-- <div th:if="${validation==false}">
                            <span style="color: red">Password must contain number, uppercase, lowercase, symbol, and min.8</span>
                        </div> -->
                        <form th:action="@{/user/change-password}" method="POST">
                            <div class="row form-group">
                                <label class="col-sm-4">Password Lama :</label>
                                <input type="password" class="col-sm-8 form-control input-sm" name="passwordLama">
                            </div>
                            <div class="row form-group">
                                <label class="col-sm-4">Password Baru :</label>
                                <input type="password" class="col-sm-8 form-control input-sm" name="passwordBaru">
                            </div>
                            <div class="row form-group">
                                <label class="col-sm-4">Konfirmasi Password Baru :</label>
                                <input type="password" class="col-sm-8 form-control input-sm" name="passwordKonfir">
                            </div>
                            <div class="row form-group">
                                <button type="submit" class="btn btn-warning">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>